<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Upload</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Upload data from zip</h1>
        <div>
            <form method="POST" enctype="multipart/form-data" action="/indexformupload">
                File to upload: <input type="file" name="file" value="choose file"><br/>
                <input type="submit"  value="Upload"> Press here to upload the file!
            </form>
        </div>
    </body>
</html>
