<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Choose find</title>
    </head>
    <body>
        <h1>Please choose find</h1>
        <div>
            <div>
                <form method="post" action="/findDayOfWeek">
                    <label>load data: </label>
                    <input type="submit" value="Find Day Of Week"/>
                </form>
            </div>
            <div>
                <form method="post" action="/findMostProbablyTime">
                    <label>clear data: </label>
                    <input type="submit" value="Find Most Probably Time"/>
                </form>
            </div>
            <div>
                <form method="post" action="/findInterval">
                    <label>clear data: </label>
                    <input type="submit" value="Find Interval Time"/>
                </form>
            </div>
            <div>
                <form method="post" action="/indexfromfind">
                    <label>find employee: </label>
                    <input type="submit" value="Main Page"/>
                </form>
            </div>
        </div>
    </body>
</html>